

body {margin:0; font-family: sans-serif; }



select {
  font-size: 16px;
  background: #FFE93A;
}

option {
  color: #000;
  /* background-color:gray ; */
}

p.indent{
padding-left:10px;
 }

p.selections{
 padding-left:10px;
 font-size:16px;
 font-style:italic;
 font-weight: bold;
 background-color: #FFF004;
 }

 p.tall-line-height{
 line-height:7px;
 }

.buttonheader{
 background-color: #004b62;
 color: white;
 padding: 14px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
font-size: 16px;
font-weight:bold;
}


.buttonsub {
 background-color: #8fb2bd;
 border: none;
 color: #333333;
 width: 80%;}




/* */

/* Floating Header */
.topbar {
 overflow: hidden;
 background-color: #347;
 position: left;
 top: 0;
 width:100%;
}

.topbar a {
 float: center;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 10px;
 text-decoration: none;
 font-size: 16px;
 font-family: Arial;
 font-weight: bold;
 border-style: solid;
 border-color: #a3a3c2;
}

.topbar a:hover {
 background: #ddd;
 color: black;
}

/* Navigation menu bar */
.navbar {
 background-color: #347;
 position: fixed;
 bottom: 0;
 margin-right: 0;
 margin-left:0;
}

.navbar a {
 display: inline-block;
 color: #f2f2f2;
 text-align: center;
 padding: 7px 17px;
 text-decoration: none;
 font-size: 14px;
 font-family: Arial;
 font-weight: bold;
 border-style: solid;
 border-color: #a3a3c2;
}

.navbar a:hover {
 background: #ddd;
 color: black;
}
.navbar a:focus {
 background: #ddd;
 color: black;
}

.button {
 padding: 10px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-family:Arial;
 font-size: 16px;
 font-weight: bold;
 margin: 4px 2px;
 cursor: pointer;
 border: 2px solid #737373
}

/* search mechanism */
* {
  box-sizing: border-box;
}

#search{
  width: 100%;
  margin: 20px auto;
}

.hidden{
  display: none;
}

div.container {
  width: 1000px;
  margin: 0px auto;
}
div.container input {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 18px;
}
div.container table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  margin: auto;
}
div.container table tr:nth-child(2), tr:nth-child(3), tr:nth-child(4),
tr:nth-child(5),tr:nth-child(6), tr:nth-child(7), tr:nth-child(8)   {
  background: #bacfe5;
}
div.container table th {
  padding: 5px 0;
  border-bottom: 1px solid;
  background: #347;
  color: white;
  line-height: 17px;
}
div.container table td {
  padding: 2px 0;
  text-align: center;
  border-bottom: 1px solid;
}
td:first-child {
  font-size: 13px;
}
td:nth-child(3) {
  font-size: 13px;
  line-height: 13px;
}
thead tr th:first-child,
tbody tr td:first-child {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  /* word-break: break-all; */
}
thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  /* word-break: break-all; */
  padding: 0px 4px;
}
thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  padding: 3px 5px;
  /* word-break: break-all; */
}

tr{
  line-height: 24px;
}

td a {
  width: 100%;
  display: block;
  text-decoration: none;
  font-weight: bold;
}
td a:hover {
  background: blue;
  color: white;
  text-decoration: none;
}
td a:active {
  background: blue;
  color: white;
  text-decoration: none;
}
