html, body {margin:0; padding: 0; font-family: sans-serif; overflow-x:hidden;}

/* @media screen and (min-width:500px){} */

div{
  box-sizing: border-box;
}

section{
  box-sizing: border-box;
}

.hidden{
       display:none;
    }
.caveat_description{
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

.buttonheader{
 background-color: #004b62;
 color: white;
 padding: 14px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
font-size: 16px;
font-weight:bold;
}

#showtable{
 font-size:16px;
 font-weight: bold;
 background: #CCD4EA;
 border: 2px solid #455EA4;
 border-radius: 10px;
 padding: 5px;
 width: 100%;
 max-width: 100%;
}

#elaboration {
  width: 100%;
  max-width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #DDE0FB;
  margin-top: -2px;
  border-radius: 10px;
  border: 2px solid #455EA4;
}
.largeanswerbox{
  box-sizing: border-box;
  display: block;
  width: 98%;
  /* max-width: 99%; */
  margin: auto;
  /* margin-left: 10px;
  margin-right: 10px; */
  border: 2px black solid;
  position: relative;
  padding: 10px;
}

a.special{
  text-decoration: none;
}
a.special:hover{
  text-shadow:
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white;
  text-decoration: none;
}

nav a {
  color: #ffffff;
  background-color: #494949;
  width: 10%;
  display: inline-block;
  text-decoration: none;
  margin: 12px;
  padding: 13px;
  border-radius: 10px;
  border: 2px #090909 solid;
  text-align: center;
  /* text-shadow:
    -1px -1px 0 #010101,
    1px -1px 0 #010101,
    -1px 1px 0 #010101,
    1px 1px 0 #010101; */
}

nav a.type1{
  color: #ffffff;
  background-color:#3b405e;
}
nav a.type2{
  color: #ffffff;
  background-color:#5e3b5e;
}
nav a.type3{
  color: #ffffff;
  background-color:#435e3b;
}
nav a.type4{
  color: #ffffff;
  background-color:#5e3d3b;
}


nav a:hover{
  background: #f6d5e0;
  color: #000000;
}
.active{
 background: #990033;
 /* font-weight: bold; */
}

/* Tabs  */

 .multi { /*didn't work to block reference to bottom. probably because need to pick a div size that isn't percentage */
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: blue;
}
.tabs{
    width: 90%;
    max-width: 90%;
    display: block;
    margin: 50px auto;
    position: relative;

}

.tabs .tab{
    float: left;
    display: block;
margin-bottom: 800px;

}

.tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 18px;
    /* text-transform: uppercase; */
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: green;
    border: #000 1px solid;
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 95%;
    max-width: 95%;
    padding: 25px;
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    color: #000;
    opacity: 0;
    transition: opacity 400ms ease-out;
    border:2px #303030 solid;

}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #303030;
    color: #F5F5F5;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
    opacity: 1;
    transition: opacity 400ms ease-out;
}
  /* My stuff */

p.topspace{
  margin-top: 90px;
}

p.selections{
 padding-left:10px;
 font-size:16px;
 font-style:italic;
 font-weight: bold;
 background-color: #FFF004;
 }

/* .arrows{
  font-size:90px;
  text-align: center;
  margin: 0px;
  padding: 0px;
} */
.arrowsdouble{
  font-size:60px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.arrowsleft{
  font-size:60px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

select {
  font-size: 16px;
}

/* */

/* Floating Header */
.topbar {
 overflow:hidden;
 background-color: #347;
 position: fixed;
 top: 0;
 width: 100%;
 max-width: 100%;
 z-index: 2;
}

.topbar a {
 float: center;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 9px 0px 9px 0px;
 text-decoration: none;
 font-size: 16px;
 font-family: Arial;
 font-weight: bold;
 border-bottom: 2px solid #a3a3c2;
  border-top: 2px solid #a3a3c2;
}

.topbar a:hover {
 background: #ddd;
 color: black;
}
.topbar a:focus {
 background: #ddd;
 color: black;
}


.guidelinebar a{
 background-color: #004b62;
 color: #f2f2f2;
 padding: 9px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
font-size: 12px;
font-weight:bold;
text-decoration: none;
}

.guidelinebar a:hover {
 background: #bbb;
 color: black;
}
.guidelinebar a:focus {
 background: #bbb;
 color: black;
}


/* Navigation menu bar */
.navbar {
  width:100%;
    max-width: 100%;
 background-color: #347;
 position: fixed;
 bottom: 0;
 margin-right: 0;
 margin-left:0;
   z-index: 3;
}

.navbar a {
  width:100%;
    max-width: 100%;
 display: inline-block;
 color: #f2f2f2;
 text-align: center;
 padding: 7px 17px;
 text-decoration: none;
 font-size: 14px;
 font-family: Arial;
 font-weight: bold;
 border-style: solid;
 border-color: #a3a3c2;
}

.navbar a:hover {
 background: #ddd;
 color: black;
}
.navbar a:focus {
 background: #ddd;
 color: black;
}


.sectiontitle {
  font-weight: bold;
  font-size: 1em;
}

.sectiontitle_notrec {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}


#question {
     text-align: center;
     line-height: 1.4em;
     background-color: #FFD93A;
     font-size: 20px;
   }

#needtoknow
{
border: 2px solid #455EA4;
background-color: #CCD4EA;
 padding:2px 20px;
 margin: auto;
 max-width: 420px;
 display: block;
}
#answer{
    box-sizing: border-box;
  display: table;
  width:100%;
  max-width: 100%;
}
#answer_arrow_section{
  display: table;
  /* width:100%; */
  width:100%;
  font-family: 'Arial Unicode MS', 'Consolas';
  font-size:70px;
  text-align: center;
  margin: 0px;
  }

.verdict_ok {
 background: #9fdb61 20px 50%;
 border: 2px solid #467813;
 border-radius: 5px;
 color: #000000;
 padding: 5px 10px;
 clear:both;
}

.verdict_maybe{
  background: #ffd966;
  border: 2px solid #e5c35b;
  border-radius: 5px;
  color: #000000;
  padding: 5px 10px;
  clear:both;
}

.verdict_no {
  background: #f5a3b7;
  border: 2px solid #aa6274;
  border-radius: 5px;
  color: #000000;
  padding: 5px 10px;
  clear:both;
  font-weight: bold;
}
.verdict_no2 {
  background: #a11236;
  border: 2px solid #aa6274;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  clear:both;
  font-weight: bold;
}

.single_center
{
  border: 2px solid #454545;
  background-color: #EAEAEA;
 padding: 2px 20px;
 width: 40%;
 display: block;
 margin: auto;
 clear: both;
}

.single_invisible
{
 text-align: center;
 width: 40%;
 display: inline-block;
 float: center;
 clear: both;
}

.middlebox
{
border: 2px solid #454545;
background-color: #EAEAEA;
 padding:2px 20px;
 margin: auto;
 width: 450px;
 display: block;
}

.middlebox_wide
{
border: 2px solid #454545;
background-color: #EAEAEA;
 padding:2px 20px;
 margin: auto;
 width: 50%;
 display: block;
 position: relative;
}

.half_left{
 border: 2px solid #454545;
 background-color: #EAEAEA;
 width: 40%;
 padding-left: 1%;
 padding-right: 1%;
 display: inline-block;
 float: left;
 margin-left: 5%;
 margin-right: 5%;
 clear: left;
}

.half_left_invisible{
 text-align: center;
 width: 40%;
 display: inline-block;
 float: left;
 margin-left: 5%;
 margin-right: 5%;
 clear: left;
}

.half_left_invisible_alone
{
 text-align: center;
 font-size: 50px;
 padding-left: 1%;
 padding-right: 1%;
 width: 40%;
 display: inline-block;
 float: left;
 margin-left: 5%;
 margin-right: 5%;
 clear: both;
}

.half_right{
  border: 2px solid #454545;
  background-color: #EAEAEA;
  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
  width: 40%;
  display: inline-block;
  float: left;
  /* margin-right: 5%; */
  margin-left: 5%;
  clear: right;
}
.half_right_invisible
{
 text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  width: 40%;
  display: inline-block;
  float: left;
  /* margin-right: 6%; */
  margin-left: 5%;
  clear: right;
}

.third_left
{
  border: 2px solid #454545;
  background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 30%;
 display: inline-block;
 float: left;
 margin-left: 2%;
 margin-right: 1%;
}
.third_invisible
{
 text-align: center;
 padding-left: 1%;
 padding-right: 1%;
 width: 30%;
 display: inline-block;
 float: left;
 margin-left: 2%;
 margin-right: 1%;
}

.third_middle
{
  border: 2px solid #454545;
  background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 30%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 margin-right: 1%;
}
.third_right
{
  border: 2px solid #454545;
  background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 30%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 /* margin-right: 2%; */
 clear: right;
}
.twothird_right{
 border: 2px solid #454545;
 background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 64%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 /* margin-right: 2%; */
}

.twothird_right_invisible{
 text-align: center;
 padding-left: 1%;
 padding-right: 1%;
 width: 64%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 /* margin-right: 2%; */
}

.third_left_blank
{
 padding-left: 1%;
 padding-right: 1%;
 width: 30%;
 display: inline-block;
 float: left;
 margin-left: 2%;
 margin-right: 1%;
}
.third_middle_blank
{
 padding-left: 1%;
 padding-right: 1%;
 width: 30%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 margin-right: 1%;
}
.third_right_blank
{
 padding-left: 10px;
 padding-right: 10px;
 width: 30%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 /* margin-right: 2%; */
}

.twothird_right_blank
{
 padding-left: 1%;
 padding-right: 1%;
 width: 64%;
 display: inline-block;
 float: left;
 margin-left: 1%;
}

/* four options */
.quarter_left
{
 border: 2px solid #454545;
 background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 22%;
 display: inline-block;
 float: left;
 margin-left: 2%;
 margin-right: 1%;
}
.quarter_left_invisible{
 text-align: center;
 padding-left: 1%;
 padding-right: 1%;
 width: 22%;
 display: inline-block;
 float: left;
 margin-left: 2%;
 margin-right: 1%;
 clear: left;
}
.quarter_middleleft{
  border: 2px solid #454545;
  background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 22%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 margin-right: 1%;
}

.quarter_middleright{
  border: 2px solid #454545;
  background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 22%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 margin-right: 1%;
 }

 .quarter_right
 {
  border: 2px solid #454545;
  background-color: #EAEAEA;
 padding-left: 1%;
 padding-right: 1%;
 width: 22%;
 display: inline-block;
 float: left;
 margin-left: 1%;
 /* margin-right: 1%; */
  clear: right;
 }

 .quarter_invisible{
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  width: 22%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
 }

 .threefourths_left
 {
   border: 2px solid #454545;
   background-color: #EAEAEA;
  padding-left: 1%;
  padding-right: 1%;
  width: 70%;
  display: inline-block;
  float: left;
  margin-left: 2%;
  margin-right: 1%;
 }

 /* five options */

 .fifth_left
 {
  border: 2px solid #454545;
  background-color: #EAEAEA;
  padding-left: 8px;
  padding-right: 8px;
  width: 18%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
 }
 .fifth_middleleft
 {
   border: 2px solid #454545;
   background-color: #EAEAEA;
  padding-left: 8px;
  padding-right: 8px;
  width: 18%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
 }
 .fifth_middle
 {
   border: 2px solid #454545;
   background-color: #EAEAEA;
  padding-left: 8px;
  padding-right: 8px;
  width: 18%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
 }

 .fifth_middleright
 {
   border: 2px solid #454545;
   background-color: #EAEAEA;
  padding-left: 8px;
  padding-right: 8px;
  width: 18%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
 }
 .fifth_right
 {
   border: 2px solid #454545;
   background-color: #EAEAEA;
  padding-left: 8px;
  padding-right: 8px;
  width: 18%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  /* margin-right: 1%; */
  clear: right;
 }

 .fifth_invisible
 {
text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  width: 18%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
 }

 #notrecommend {
   display:block;
   float:center;
   margin: auto;
   border: 2px solid #aa6274;
   background-color: #f5a3b7;
   padding: 0 10px 10px 10px;
   width: 75%;
   clear: both;
 }
 #generalconsider {
   display:block;
   float:center;
   margin: auto;
   border: 2px solid #000000;
   background-color: #EAEAEA;
   padding: 0 10px 10px 10px;
   width: 90%;
   clear: both;
 }
 .foot{
   font-size: 13px;
   display:block;
   clear: both;
   margin-bottom: 80px;
   margin-left: 10px;
   margin-right: 10px;
 }
 .key {
   overflow:hidden;
   background-color: #347;
   /* display:block; */
   width: 100%;
   max-width:100%;
   position: fixed;
   bottom: 0;
   z-index: 2;
   color: #f2f2f2;
   border: 2px solid #a3a3c2;
   font-size: 13px;
   padding-left: 4px;
   padding-right: 4px;
   clear: both;
 }
