.topbar {
  overflow: hidden;
  background-color: #347;
  position: fixed;
  top: 0;
  width: 100%;
}

.topbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 17px;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-style: solid;
  border-color: #a3a3c2;
}

.topbar a:hover {
  background: #ddd;
  color: black;
}
